
<h2 style="background-color: #c6538c;" class="text-center"><b><i>RENK LİSTESİ</i></b></h2>
<ul class="list-group">
    <li 
    [class]="getAllColorClass()"
    routerLink="/cars"
    >Tüm Ürünler</li>
    <li 
    (click)="setCurrentColor(color)"
    routerLink="/cars/color/{{color.colorId}}"
     *ngFor="let color of colors" 
     [class]="getCurrentColorClass(color)">
     {{color.colorName}}</li>
  </ul>
  
  


  















<!-- <div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
            <th>Renk Id</th>
            <th>Renk</th>
        </tr>
    </thead>
    <tr *ngFor="let color of colors">
        <td>{{color.colorId}}</td>
        <td>{{color.colorName}}</td>
    </tr>
</table> -->
