<div *ngIf="dataLoaded==false" class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
  
  <h2 *ngIf="dataLoaded==true" class="text-center"><b><i>Kiralama Detay Listesi</i></b></h2>
  <table  class="table table-success table-striped">
    <thead>
      <tr>
        <th>Müşteri  Adı/Soyadı</th>
        <th>Marka Adı</th>
        <th>Şirket Adı</th>
      <th>Aracı Alış Tarihi</th>
      <th>Aracı Teslim Tarihi</th>
      </tr>
    </thead>
    <tr *ngFor="let rentaldetail of rentaldetails">
      <td>{{ rentaldetail.firstName + "/" + rentaldetail.lastName }}</td>            
      <td>{{ rentaldetail.brandName }}</td>
      <td>{{rentaldetail.companyName}}</td>
    <td>{{rentaldetail.rentDate}}</td>
    <td>{{rentaldetail.returnDate}}</td>
    </tr>
  </table>
